only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=@percy/core
only-built-dependencies[]=@swc/core
only-built-dependencies[]=canvas
only-built-dependencies[]=esbuild
only-built-dependencies[]=protobufjs
only-built-dependencies[]=sharp
only-built-dependencies[]=unrs-resolver
only-built-dependencies-file=true

